<%- include('../../fragments/header.ejs'); %>
<%- include('./menu.ejs'); %>

<div>
        <table>
            <h1>Студенты</h1>
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Курс</th>
                </tr>
            </thead>
            <tbody>

                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.f %></td>
                        <td><%= user.i %></td>
                        <td><%= user.o %></td>
                        <td><%= user.courseList %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
</div>

<%- include('../../fragments/footer.ejs'); %>
